{% extends '@a/layout.twig' %}
{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Удаление изображения</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <img class="img img-thumbnail"
                     src="{{ config.getStorageUpload(image.storage).url(image.filename|replace({'.': '_thumb.'}))  }}">

                {{ form|raw }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
