{% extends '@a/layout.twig' %}
{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Галерея</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <a href="{{ path('admin/gallery/upload') }}">Загрузить с компьютера</a>
                <div class="row">
                    {% set uploadDir = _ENV['UPLOAD_URL'] ~ config.get('uploadDir') %}
                    {% for image in images %}
                        <div class="col-md-3">
                            <a href="{{ uploadDir ~ image.getFilename }}">
                                <img class="img img-thumbnail"
                                     src="{{ uploadDir ~ image.getFilename|replace({'.': '_thumb.'}) }}">
                            </a>
                            <div>
                                {{ image.getDescription }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
