{% extends '@a/layout.twig' %}
{% block content %}
    {% do asset('js', ['modules/admin/node_modules/bs-custom-file-input/dist/bs-custom-file-input.min.js']) %}
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Галерея</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{ form|raw }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
